/* reset */
h1,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* 가장 큰 레이아웃 */
.l_wrapper {
  /*  반응형 너비 */
  width: auto;
  max-width: 850px;
  margin: 100px auto;
}

/* 반복적인 활용되는 것들 layout */
.section h1 {
  margin-bottom: 30px;
}

.section-timeline li {
  width: 50%;
  padding: 0 10px;
  /* padding, border이 width 값에 포함 */
  box-sizing: border-box;
}

.section-timeline li:nth-child(even) {
  margin-left: auto;
  margin-top: -40px;
  margin-bottom: -40px;
}

/* 시각적 (내부 요소 덩어리) => padding이든 뭐든 넣어도 정렬에 영향x */
.year {
  background-color: orange;
  padding: 20px;
  min-height: 100px;
  border-radius: 10px;
}

/* 반응형 */
@media (max-width: 650px) {
  /* 안되는 이유: 구체성 원칙으로 우선순위가 낮음 */
  .section-timeline li,
  .section-timeline li:nth-child(even) {
    width: initial;
    margin: 0 0 20px 0;
  }
}

/* 중앙선 */

.section-timeline {
  position: relative;
}

.section-timeline::before {
  content: "";
  background-color: red;

  position: absolute;
  inset: 0;
  width: 10px;
  margin: 40px auto -40px;

  border-radius: 6px;
}
