/* body {
  text-align: center;
  color: #fff;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 300px;
}

.wrap2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

header {
  height: 50px;
  background: royalblue;
}

section {
  height: 200px;
  width: 70%;
  background: gold;
}

aside {
  height: 200px;
  width: 30%;
  background: lime;
}

footer {
  
  background: salmon;
}

header,
section,
aside,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
*/

header {
  background: salmon;
}

section {
  background: gold;
}

aside {
  background: slateblue;
}

footer {
  background: seagreen;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 400px;
  background-color: #eee;
  justify-content: space-between;
}

.wrap2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-grow: 1;
}

header,
footer {
  flex-basis: 50px;
}

.wrap2 section {
  flex-grow: 1;
}

.wrap2 aside {
  flex-basis: 200px;
}

header,
section,
aside,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
